<div class="create-activity-container">

  <%= simple_form_for(dog) do |f| %>
    <%= f.input :name %>
    <%= f.input :breed %>
    <%= f.input :age %>
    <%= f.select :sex, collection: ['male', 'female'], label: "Male/female"%>
    <%= f.input :description, placeholder: "Describe your dog", label: " " %>
    <%= f.input :photo, as: :file  %>
    <%= f.input :background_photo, as: :file  %>
    <%= f.submit class:"btn btn-primary btn-lg"%>
  <% end %>
</div>
