<p>Dog profile<p>

<p>Aqui viene la carta de mi perrete</p>

<%= link_to "Back to my profile", profile_path %>

<ul>
  <li><%= @dog.name %></li>
  <li><%= @dog.breed %></li>
  <li><%= @dog.age %></li>
  <li><%= @dog.sex %></li>
  <li><%= @dog.description %></li>
  <% if @dog.photo.attached? %>
    <%= cl_image_tag @dog.photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>
</ul>
