
<div class="show-container">
  <div class="background-show-dog"></div>
  <div class="show-container-dog-header">
    <% if @dog.photo.attached? %>
      <%= cl_image_tag @dog.photo.key, class:"dog-avatar"%>
    <% end %>
    <h1 class="title-show"><strong><%= @dog.name %></strong></h1>
  </div>
  <div class="container-dog-show-info">
    <div class="dog-card-body">
      <h2 class="dog-card-title"><strong>Breed:</strong></h2>
      <p class="dog-card-text"><%= @dog.breed %></p>
    </div>

    <div class="dog-card-doble">
      <div class="dog-card-body doble">
        <h2 class="dog-card-title"><strong>Age:</strong></h2>
        <p class="dog-card-text"><%= @dog.age %>
      </div>

      <div class="dog-card-body doble">
        <h2 class="dog-card-title"><strong>Sex:</strong></h2>
        <p class="dog-card-text"><%= @dog.sex %>
      </div>
    </div>

    <div class="dog-card-body">
      <h2 class="dog-card-title"><strong>Description:</strong></h2>
      <p class="dog-card-text"><%= @dog.description %></p>
    </div>
  </div>

  <div class="d-grid gap-2 show-dog-btn">
      <%= link_to "Visit owner profile", profile_path, class:"btn btn-primary btn-lg" %>
  </div>

  <%= simple_form_for(@dog) do |f| %>
    <%= f.input :extra_photos, as: :file, input_html: { multiple: true } %>
    <%= f.submit %>
  <% end %>

  <% @dog.extra_photos.each do |extra_photo| %>
    <%= cl_image_tag extra_photo.key, crop: :fill %>
  <% end %>






  <div class="photo-dog-card-doble">
    <div class="dog-card-body doble">
      <div class="photos-show-dog1">
        <%# <img src="https://res.cloudinary.com/dbksvt70i/image/upload/v1662385908/golden-retriever_fizcka.jpg" alt="golden retreiver"> %>
      </div>
    </div>

    <div class="dog-card-body doble">
      <div class="photos-show-dog2"></div>
    </div>
  </div>

  <div class="photo-dog-card-doble">
    <div class="dog-card-body doble">
      <div class="photos-show-dog3"></div>
  </div>

    <div class="dog-card-body doble">
      <div class="photos-show-dog4"></div>
    </div>
  </div>
</div>
