
<div class="show-container">
  <div class="background-show-dog">
    <% if @dog.background_photo.attached? %>
      <%= cl_image_tag @dog.background_photo.key, class:"background-show-dog"%>
    <% end %>
  </div>
  <div class="show-container-dog-header">
    <% if @dog.photo.attached? %>
      <%= cl_image_tag @dog.photo.key, class:"dog-avatar"%>
    <% end %>
    <h1 class="title-show"><%= @dog.name %></h1>
  </div>
  <div class="container-dog-show-info">
    <div class="dog-card-body">
      <h2 class="dog-card-title"><strong>Breed:</strong></h2>
      <p class="dog-card-text"><%= @dog.breed %></p>
    </div>

    <div class="dog-card-doble">
      <div class="dog-card-body doble">
        <h2 class="dog-card-title"><strong>Age:</strong></h2>
        <p class="dog-card-text"><%= @dog.age %>
      </div>

      <div class="dog-card-body doble">
        <h2 class="dog-card-title"><strong>Sex:</strong></h2>
        <p class="dog-card-text"><%= @dog.sex %>
      </div>
    </div>

    <div class="dog-card-body">
      <h2 class="dog-card-title"><strong>Description:</strong></h2>
      <p class="dog-card-text"><%= @dog.description %></p>
    </div>
  </div>

  <div class="d-grid gap-2 show-dog-btn">
    <% if @dog.user.id == current_user.id %>
      <%= link_to "Back to my profile", profile_path, class:"btn btn-primary btn-lg" %>
    <% else  %>
      <%= link_to "Visit owner profile", user_path(@dog.user), class:"btn btn-primary btn-lg" %>
    <% end %>
  </div>


  <%# <%= simple_form_for(@dog) do |f| %>
    <%# <%= f.input :extra_photos, as: :file, input_html: { multiple: true }, placeholder: "Add more photos os your dog" %> %>
    <%# <%= f.submit %> 

    <% if @dog.user.id == current_user.id %>
      <%= simple_form_for(@dog) do |f| %>
        <%= f.input :extra_photos, as: :file, input_html: { multiple: true } %>
        <%= f.submit %>
      <% end %>
    <% end %>
  <% end %>

  <div class="photo-dog-card-doble">
    <% @dog.extra_photos.each do |extra_photo| %>
      <div class="photos-show-dog">
        <%= cl_image_tag extra_photo.key, crop: :fill %>
      </div>
    <% end %>
  </div>


</div>
