<p>Dog profile<p>

<p>Aqui viene la carta de mi perrete</p>

<%= link_to "Back to my profile", profile_path %>

<% @dogs.each do |dog| %>
  <ul>
    <li><%= dog.name %></li>
    <li><%= dog.breed %></li>
    <li><%= dog.age %></li>
    <li><%= dog.sex %></li>
    <li><%= dog.description %></li>
  </ul>
<% end %>
