
<div class="show-container">
  <img src="" class="background-show-dog"/>
  <div class="show-container-dog-header">
    <div class="dog-avatar">
      <% if @dog.photo.attached? %>
        <%= cl_image_tag @dog.photo.key, height: 300, width: 400, crop: :fill %>
      <% end %>
    </div>
    <h1 class="title-show" style="text-align: right; margin-right: 50px; margin-bottom: 50px; margin-top: 10px;"><%= @dog.name %></h1>
  <div class="container-dog-show-info">
    <div class="dog-card-body">
      <p class="dog-card-title"><strong>Breed:</strong></p>
      <p class="dog-card-text"><%= @dog.breed %></p>
    </div>

    <div class="dog-card-body">
      <p class="dog-card-title"><strong>Age:</strong></p>
      <p class="dog-card-text"><%= @dog.age %>
    </div>

    <div class="dog-card-body">
      <p class="dog-card-title"><strong>Sex:</strong></p>
      <p class="dog-card-text"><%= @dog.sex %>
    </div>

    <div class="dog-card-body">
      <p class="dog-card-title"><strong>Description:</strong></p>
      <p class="dog-card-text"><%= @dog.description %></p>
    </div>
  </div>


  <button type="button" class="btn btn-primary">
    <%= link_to "Visit owner profile", profile_path %>
  </button>
</div>
