<div class="main-navbar-container" data-controller="navbar">

  <div class="logo-container">
      <img src="<%="assets/logo.png"%>" class="logo" alt="">
  </div>

  <div class="menu-icon" data-action="click->navbar#handleClick" data-navbar-target="icon">
    <i class="fa-solid fa-bars" data-navbar-target="font" data-action="click->navbar#changeIcon"></i>
  </div>

  <ul class="nav-menu" data-navbar-target="list">
    <% if user_signed_in? %>

      <li class="">
        <button class="navbar-button"><%= link_to "Home", root_path, class: "black" %></button>
      </li>

      <li class="">
        <button class="navbar-button"><%= link_to "My Profile", profile_path, class: "black" %></button>
      </li>

      <li class="">
        <button class="navbar-button"><%= link_to "Find an activity", activities_path, class: "black" %></button>
      </li>

      <% if current_user.dogs %>
        <li class="">
          <button class="navbar-button"><%= link_to "My dog(s)", dog_path(current_user.dogs.first), class: "black" %></button>
        </li>
      <% end %>

      <li class="">
        <button class="navbar-button"><%= link_to "Create a new activity", new_activity_path, class: "black" %></button>
      </li>

      <li class="">
        <button class="navbar-button"><%= link_to "Logout", destroy_user_session_path, class: "black" %></button>
      </li>

    <% else %>
      <li class="">
        <button class="navbar-button"><%= link_to "Login", new_user_session_path, class: "black" %></button>
      </li>
    <% end %>
  </ul>
</div>
