
<div class="main-navbar-container">
  <div class="logo-container">
      <img src="<%="assets/logo.png"%>" class="logo" alt="">
  </div>

  <div class="menu-icon">
    <i class="fa-solid fa-bars"></i>
  </div>

  <ul class="nav-menu">
    <% if user_signed_in? %>

      <li class="">
        <button class="navbar-button"><%= link_to "Home", root_path, class: "" %></button>
      </li>

      <li class="">
        <button class="navbar-button"><%= link_to "My Profile", profile_path, class: "" %></button>
      </li>

      <li class="">
        <button class="navbar-button"><%= link_to "Find an activity", activities_path, class: "" %></button>
      </li>

      <li class="">
        <button class="navbar-button"><%= link_to "My dog(s)", "#", class: "" %></button>
      </li>

      <li class="">
        <button class="navbar-button"><%= link_to "Create a new activity", new_activity_path, class: "" %></button>
      </li>

      <li class="">
        <button class="navbar-button"><%= link_to "Logout", destroy_user_session_path, class: "" %></button>
      </li>

    <% else %>
      <li class="">
        <button class="navbar-button"><%= link_to "Login", new_user_session_path, class: "" %></button>
      </li>
    <% end %>
  </ul>
</div>


 <script>
        let icon = document.querySelector(".menu-icon")
        let list = document.querySelector(".nav-menu")

        let font = document.getElementById("d-menu")

        icon.addEventListener("click", () => {
            list.classList.toggle("active");
        })

        font.addEventListener("click", () =>{
            if (font.classList.contains('fa-bars')) {
                font.classList.remove('fa-bars');
                font.classList.add('fa-xmark');
            } else {
                font.classList.remove('fa-xmark');
                font.classList.add('fa-bars');
  }
        })
    </script>
