<div class="main-navbar-container" data-controller="navbar">

  <%= link_to home_path do %>
    <div class="logo-container">
        <img src="https://res.cloudinary.com/mariacend1910/image/upload/v1662368952/Roby_dog_uezddt.svg" class="logo" alt="">
    </div>
  <% end %>

  <div class="menu-icon" data-action="click->navbar#handleClick" data-navbar-target="icon">
    <i class="fa-solid fa-bars" data-navbar-target="font" data-action="click->navbar#changeIcon"></i>
  </div>

  <ul class="nav-menu" data-navbar-target="list">
    <% if user_signed_in? %>

      <li class="">
        <%= link_to home_path, class: "navbar-logo" do %>
          <img class="navbar-logo" src="https://res.cloudinary.com/mariacend1910/image/upload/v1662369317/Roby_white_zmjqae.svg" alt="">
        <% end %>
      </li>

      <li class="">
        <%= link_to profile_path, class: "black" do %>
          <button class="navbar-button">My Profile</button>
        <% end %>
      </li>

      <li class="">
        <%= link_to activities_path, class: "black" do %>
          <button class="navbar-button">Find an activity</button>
        <% end %>
      </li>

      <li class="">
        <%= link_to new_activity_path, class: "black" do %>
          <button class="navbar-button">Create a new activity</button>
        <% end %>
      </li>

      <li class="">
        <%= link_to destroy_user_session_path, data: {turbo_method: :delete}, class: "black"  do %>
          <button class="navbar-button">Log out</button>
        <% end %>
      </li>

    <% else %>
      <li class="">
        <%= link_to new_user_session_path, class: "black" do %>
          <button class="navbar-button">Login</button>
        <% end %>
      </li>
    <% end %>

    <div class="navbar-footer">
      ❤️ Made with love by: ❤️ <br>
      <a href="https://www.linkedin.com/in/gloria-font-8b084824b/" target="_blank">Gloria</a>,
      <a href="https://www.linkedin.com/in/mariajesuscendoya/" target="_blank">Maria</a>,
      <a href="https://www.linkedin.com/in/grace-lavender/" target="_blank">Grace</a>,
      <a href="https://www.linkedin.com/in/daniel-ramiro-lanz/" target="_blank">Dani</a>
      and <a href="https://www.linkedin.com/in/felipe-fischel/" target="_blank">Felipe</a>.
    </div>
  </ul>

</div>
