<div class = "container-home">

   <div class="test-form-search">
      <%= form_with url: activities_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
        params[:query],
        class: "form-control-dest",
        placeholder: "Find an activity" %>
        <%= submit_tag "ðŸ”", class: "btn btn-primary" %>
      <% end %>
    </div>

  <%#-------MAP------%>
  <div class ="map-home-container">
    <%= render "shared/map" %>
  </div>
  <%#-------MAP------%>

  <div class ="activities-carousel-container">
    <h2 class = "activies-carousel-title">Activities you might like:</h2>
    <div class = "activities-home-slider">
      <% @activities.slice(0,6).each do |activity| %>
      <%= link_to activity_path(activity) do %>
          <div class="activity-home-card">
            <%# <% if activity.photo.attached? %>
              <%# <%= cl_image_path activity.photo.key, height: 50, crop: :fill %>
            <div class="activities-card-image">
              <img src="#" alt="#">
            </div>
            <%# <%end %>
            <div class="activity-card-title">
                <%= activity.name %>
            </div>
          </div>
        <%end%>
      <%end%>
    </div>
  </div>
</div>
