<div class = "container-home">

  <div class = "animation">
  </div>

  <div class="home-search">
    <h2 id="search-title">Find new activities</h2>
      <div class = "search-form">
        <%= form_with url: activities_path, method: :get, class: "search-bar d-flex" do %>
          <%= text_field_tag :query,
          params[:query],
          class: "search-form-bar",
          placeholder: "Find an activity" %>
          <%= submit_tag "Search", class: "search-button" %>
        <% end %>
      </div>
  </div>

  <%#-------MAP------%>
  <div class ="map-home-container">
    <%= render "shared/map" %>
  </div>
  <%#-------MAP------%>

  <div class ="activities-carousel-container">
    <h2 class = "activies-carousel-title">Activities you might like:</h2>
    <div class = "activities-home-slider">
      <% @activities.slice(0,6).each do |activity| %>
        <%= link_to activity_path(activity) do %>
          <div class="activity-home-card">
            <%# <div class="activities-card-image"> %>
            <% if activity.photo.attached? %>
              <%= cl_image_tag activity.photo.key, class:"activities-card-image"%>
            <% else %>
              <img class="activities-card-image" src="https://www.helpguide.org/wp-content/uploads/dog-owner-walking-on-trail.jpg" alt="">
            <% end %>
            <%# </div> %>
            <div class="activity-card-title">
              <h3> <strong><%= activity.name %> </strong></h3>
              <p class="home-location-text">📍<%= activity.location %></p>
            </div>
          </div>
        <%end%>
      <%end%>
    </div>
  </div>


  <h2 class = "categories-cards-title"><strong>Top Categories for you:</strong></h2>
  <div class = "categories-container">
    <div class = "categories-card-homepage">
      <img class = "category-card-image" src = "https://res.cloudinary.com/mariacend1910/image/upload/v1662381416/dog-paw-1553507816_c4s5qg.jpg" alt = # >
      <div class="category-card-title">
        <h3><strong> Category 1 </strong></h3>
      </div>
    </div>
    <div class = "categories-card-homepage">
      <img class = "category-card-image" src = "https://res.cloudinary.com/mariacend1910/image/upload/v1662381416/dog-paw-1553507816_c4s5qg.jpg" alt = # >
      <div class="category-card-title">
        <h3><strong> Category 2 </strong></h3>
      </div>
    </div>
    <div class = "categories-card-homepage">
      <img class = "category-card-image" src = "https://res.cloudinary.com/mariacend1910/image/upload/v1662381416/dog-paw-1553507816_c4s5qg.jpg" alt = # >
      <div class="category-card-title">
        <h3><strong> Category 3 </strong></h3>
      </div>
    </div>
    <div class = "categories-card-homepage">
      <img class = "category-card-image" src = "https://res.cloudinary.com/mariacend1910/image/upload/v1662381416/dog-paw-1553507816_c4s5qg.jpg" alt = # >
      <div class="category-card-title">
        <h3><strong> Category 4 </strong></h3>
      </div>
    </div>
  </div>

  <%#= link_to "Come to the global chat!!", chatroom_path(Chatroom.first) %>
</div>
