<h1>Este es mi perfil</h1>





<% @dogs.each do |dog| %>
  <ul>
    <li><%= dog.name %></li>
    <li><%= dog.breed %></li>
    <li><%= dog.age %></li>
    <li><%= dog.sex %></li>
    <li><%= dog.description %></li>
    <% if dog.photo.attached? %>
      <%= cl_image_tag dog.photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>
  </ul>
<% end %>



<%= link_to "Create a dog", new_dog_path  %>

