<div class = "profile-container">
  <div class="profile-imgs-container">
    <div class = "profile-banner-img">
      <% if current_user.banner_photo.attached? %>
        <%= cl_image_tag current_user.banner_photo.key, height: 300, width: 400, crop: :fill %>
      <% end %>
    </div>
    <div class = "profile-user-img">
      <% if current_user.photo.attached? %>
        <%= cl_image_tag current_user.photo.key, height: 300, width: 400, crop: :fill %>
      <% end %>
    </div>
    <div class = "profile-dog-img">
      <% current_user.dogs.each do |dog| %>
            <% if dog.photo.attached?  %>
              <%= cl_image_tag dog.photo.key, height: 300, width: 400, crop: :fill %>
            <% end %>
          <% end %>
    </div>
  </div>
</div>

      <div class ="names-container">
        <div class = "profile-user-name">
          <%= current_user.name %>
        </div>
        <div class = "profile-dog-name">
          <% current_user.dogs.each do |dog| %>
            <%= dog.name  %>
          <% end %>
        </div>
      </div>
    </div>

    <div class = "profile-btns-container">
      <%= link_to "Edit Profile", "#", class: "small-btn" %>
      <%= link_to "Add Dog", "#", class: "small-btn" %>
    </div>

  <div class = "info-cards-container">
    <div class ="index-cards">
      <div class = "user-bio-card">
        <h3><strong>Bio:</strong></h3>
        <p><%= current_user.bio %></p>
      </div>
    </div>
    <div class ="index-cards">
      <div class = "user-location-card">
        <h3><strong>Location:</strong></h3>
        <p><%= current_user.location %></p>
      </div>
    </div>
      <div class = "user-map">
      </div>
  </div>

  <div class = "friends-container">
    <h3><strong>Friends:</strong></h3>
    <div class = "row">
      <div class="col-12 col-lg-6">
      <%#import 5 friend images here%>
      </div>
    </div>
    <%= link_to "Create New Activity", "#", class: "large-btn" %>
  </div>


  <div class = "profile-activities-container">
    <h3><strong>Attending activities:</strong></h3>
    <%#attending activities card carousel here%>
  </div>

</div>
