<h1>Activities:</h1>
<%#-------MAP------%>
<div class ="map-index-container">
  <%= render "shared/map" %>
</div>
<%#-------MAP------%>
<div class="index-cards-container">
    <% @activities.each do |activity| %>
      <%= link_to activity_path(activity) do %>
        <div class ="index-cards">
          <div class="index-card-container-left">
            <img class="index-image-cards" src="https://www.helpguide.org/wp-content/uploads/dog-owner-walking-on-trail.jpg" alt="">
          </div>
          <div class="index-card-container-right">
            <div class="index-card-info">
              <h3><strong><%= activity.name %></strong></h3>
              <div class="date-and-location-index">
                <%= activity.start_date %>
                <br>
                📍<%= activity.location %>
              </div>
              $<%= activity.price %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>



<%= link_to "Create a new activity", new_activity_path %>
