<div class="home-search">
  <h2 id="search-title">Find a new activity</h2>
    <div class = "search-form">
      <%= form_with url: activities_path, method: :get, class: "search-bar d-flex" do %>
          <%= text_field_tag :query,
          params[:query],
          class: "search-form-bar",
          placeholder: "Find an activity" %>
          <%= submit_tag "Search", class: "search-button" %>
      <% end %>
    </div>
</div>

<div class="index-activity-page-container">
  <%#<h2><strong>Find an activity:</strong></h2> %>

  <%#-------MAP------%>
  <div class ="map-index-container">
    <%= render "shared/map" %>
  </div>
  <%#-------MAP------%>
  <div class="index-cards-container">
    <% @activities.each do |activity| %>
      <%= link_to activity_path(activity) do %>
        <div class ="index-cards">
          <div class="index-card-container-left">
            <% if activity.photo.attached? %>
              <%= cl_image_tag activity.photo.key, class:"index-image-cards"%>
            <% else %>
              <img class="index-image-cards" src="https://www.helpguide.org/wp-content/uploads/dog-owner-walking-on-trail.jpg" alt="">
            <% end %>
          </div>
          <div class="index-card-container-right">
            <div class="index-card-info">
              <h3 class="index-card-title"><strong><%= activity.name %></strong></h3>
              <div class="activity-index-users-container">
                <% activity.bookings.each do |booked| %>
                  <div class= activity-index-attendees-avatar-box>
                    <% if booked.user.photo.attached? %>
                      <%= cl_image_tag booked.user.photo.key, class:"rounded-circle image-avatar-index" %>
                    <% else %>
                      <img class="rounded-circle image-avatar-index" src="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_1280.png" alt="">
                    <% end %>
                  </div>
                <% end %>
              </div>
              <div class="date-and-location-index">
                <p><%= activity.location %></p>
                <p><%= activity.start_date.strftime("%d/%m/%y") %></p>
              </div>
              <div class="activity-card-price">
                <% if activity.price == 0 %>
                  Free
                <% else %>
                  $<%= activity.price %>
                <% end %>
              </div>
              <div class="index-card-categories-container">
                <% activity.categories.each do |category| %>
                  <h3 class="index-card-category-tag"><%= category.name %> </h3>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
