<div class="home-search">
  <h2 id="search-title">Find a new activity</h2>
    <div class = "search-form">
      <%= form_with url: activities_path, method: :get, class: "search-bar d-flex" do %>
          <%= text_field_tag :query,
          params[:query],
          class: "search-form-bar",
          placeholder: "Find an activity" %>
          <%= submit_tag "Search", class: "search-button" %>
      <% end %>
    </div>
</div>

<div class="index-activity-page-container">
  <%#<h2><strong>Find an activity:</strong></h2> %>

  <%#-------MAP------%>
  <div class ="map-index-container">
    <%= render "shared/map" %>
  </div>
  <%#-------MAP------%>
  <div class="index-cards-container">
    <% @activities.each do |activity| %>
      <%= link_to activity_path(activity) do %>
        <div class ="index-cards">
          <div class="index-card-container-left">
            <% if activity.photo.attached? %>
              <%= cl_image_tag activity.photo.key, class:"index-image-cards"%>
            <% else %>
              <img class="index-image-cards" src="https://www.helpguide.org/wp-content/uploads/dog-owner-walking-on-trail.jpg" alt="">
            <% end %>
          </div>
          <div class="index-card-container-right">
            <div class="index-card-info">
              <h3><strong><%= activity.name %></strong></h3>
              <div class="date-and-location-index">
                <p><%= activity.start_date.strftime("%b %d") %></p>
                <p><%= activity.location %>📍</p>
              </div>
              <p><strong>$<%= activity.price %></strong></p>
              <%# <br>
              <%= activity.category %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
